<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="false"
                               multipleSiteBindingsEnabled="true" />-->
    <!--<client>
      <endpoint address="http://localhost:666/" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IServiceChat" contract="ServiceChat.IServiceChat"
        name="WSDualHttpBinding_IServiceChat" />
    </client>-->
    <client>
      <endpoint address="http://localhost:666/Chat" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IServiceChat" contract="ServiceChat.IServiceChat"
        name="WSDualHttpBinding_IServiceChat" />
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      
    </serviceHostingEnvironment>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IServiceChat">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
      <webHttpBinding>
        <binding name="webBinding" useDefaultWebProxy="true">
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <!--<client>
      <endpoint address="net.tcp://localhost:666/" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IServiceContract" contract="ServiceChat.IServiceChat"
        name="WSDualHttpBinding_IServiceContract">
        <identity>
          <userPrincipalName value="SUPER\home" />
        </identity>
      </endpoint>
    </client>-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="SoapBehavior">
          <dataContractSerializer />
        </behavior>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="mexBeh">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBeh" name="BookMyFoodWCF.ServiceChat">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <endpoint address="Chat"

                  binding="wsDualHttpBinding"
          bindingConfiguration="WSDualHttpBinding_IServiceChat" contract="BookMyFoodWCF.IServiceChat" />
        <endpoint address=""
                  behaviorConfiguration="web"
                  binding="webHttpBinding"
                  bindingConfiguration="webBinding" contract="BookMyFoodWCF.IWebService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:666/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="http" />
    </protocolMapping>
 
  </system.serviceModel>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>