<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>

      <behaviors>
            <endpointBehaviors>
                <behavior name="NewBehavior0">
                    <callbackDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IServiceChat">
                    <security mode="None" />
                </binding>
                <binding name="WSDualHttpBinding_IServiceChat1">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:666/Chat" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IServiceChat" contract="ServiceChat.IServiceChat"
                name="WSDualHttpBinding_IServiceChat" />
            <endpoint address="http://localhost:666/Chat" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IServiceChat1" contract="ServiceChat.IServiceChat"
                name="WSDualHttpBinding_IServiceChat1" />
        </client>
    </system.serviceModel>
</configuration>